<!doctype html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/sideCss.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('../shared/sidebarOne'); %>


            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5">

                <%- include('../shared/sidebarHeader'); %>


                    <h2 class="mb-4">All Products</h2>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Price</th>
                                
                                <th>Category</th>
                                
                                <th>Quantity</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% products.forEach(function(product){ %>
                                <script>
                                    console.log('products in ejs : '+product);
                                </script>

                                <tr>
                                    <td>
                                        <%= product.id %>
                                    </td>
                                    <td>
                                        <%= product.title %>
                                    </td>
                                    <td>
                                        <%= product.price %>
                                    </td>
                                    
                                    <td>
                                        <%= product.category %>
                                    </td>
                                   
                                    <td>
                                        <%= product.rating.count %>
                                    </td>
                                    <td>
                                        <a class="btn btn-warning"
                                            href="/admin/update-product?title=<%= product.title %>&id=<%= product._id %>&category=<%= product.category %>&price=<%= product.price %>&quantity=<%= product.rating.count %>">Edit
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger"
                                            href="/admin/product-delete?id=<%= product._id %>">Delete
                                        </a>
                                    </td>
                                   

                                </tr>
                                <% }); %>
                        </tbody>
                    </table>



            </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>