<!doctype html>
<html lang="en">

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/sideCss.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">

        <%- include('../shared/sidebarOne'); %>

            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5">
                <%- include('../shared/sidebarHeader'); %>

               
                    <h2 class="mb-4">Orders of User </h2>
                    <% orderDetails.forEach(function(order){ %>
                    <div class="card">
                        <div class="card-header">
                          <%= order.prodCategory>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"> <%= order.prodTitle></h5>
                          <div class="row">
                            <div class="col-sm">
                              <p class="card-text">Price : <%= order.prodPrice></p>
                            </div>
                            <div class="col-sm">
                              <p class="card-text"> Quantity : <%= order.prodQuantity></p>
                            </div>
                            <div class="col-sm">
                              <p class="card-text"> Total Amount : <%= order.totalAmount></p>
                            </div>
                          </div>
                          <p class="card-text"> <%= orderDate></p>
                          <a href="#" class="btn btn-primary btn-sm">Edit Order</a>
                        </div>
                      </div>
                      <% }); %>


            </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>